body {
    background-color: #000;
    padding: 5vw;
    justify-content: center;
}

#prompt {
    color: whitesmoke;
    text-transform: capitalize;
    font-weight: bold;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 5vw;
    color: whitesmoke;
}

button {
    height: 10vw;
    width: 22vw;
    margin: 2vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    font-size: 5vw !important;
    font-weight: bolder;
    text-transform: uppercase;
}

button#btnplay3 {
    width: 30vw
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 25%;
}

img#user {
    transform: rotate(180deg);
}

img#com {
    position: absolute;
    bottom: 25vw;
    left: 35vw;
    right: 35vw;
}

p#comsi {
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 7.5vw;
    color: whitesmoke;
    position: absolute;
    bottom: 5vw;
    width: 100%;
}

p#ussi {
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10vw;
    color: whitesmoke;
    margin-bottom: 1%;
}

marquee {
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5vw;
    color: whitesmoke;
    position: absolute;
    bottom: 2vw;
}

#worl {
    height: 7.5%;
    width: 23%;
    position: absolute;
    visibility: hidden;
    top: 52%;
    padding: 1%;
    justify-content: center;
    justify-self: center;
    margin-left: 33%;
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    /* color: #0f0; */
    /* color: #ffd700; */
    /* border: 3vw solid #0f0; */
    border: 2vw solid;
    background-color: whitesmoke;
    overflow: hidden;
    z-index: 100;
}